.Main-section {
   
    width: 100%;

    /* background-color: aqua; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

.Section-wrapper {
    position: relative;
    width: 80%;
    margin: 4rem auto;
    height: 64vh;
    overflow: hidden;
}

.Section-container {
    height: 64vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease, transform 0.5s ease; 
    opacity: 0;
    transform: translateY(20%);
}

.Section-container.isActive {
    opacity: 1;
    transform: translateY(0%);
}

.Section-text {
    /* background-color: aquamarine; */
    padding: 5rem 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
}

.Section-h2 {
    font-weight: bold;
    font-size: 1.5em;
}

.Section-p {
    width: 50%;
}



.Section-img {
    padding: 2rem 0;
    margin: auto;
    object-fit: cover;
    width: 70%;
}

.Section-btn {
    background-color: black;
    padding: 1rem 2rem;
    color: white;
    cursor: pointer;
}

.Tabs {
    width: 100%;
    margin: auto;
    background-color: lightgray;
}

.Tabs-wrapper {
    width: 100%;
    padding: 4rem 0 ;
    
}

.Tabs-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 6rem;
    padding: 0 10rem;
}

.Tabs-li {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    
    cursor: pointer;
}

.Tabs-li::before {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease; 

}

.Tabs-li.isActive::before {
    width: 100%;
}

@media (max-width: 600px) {
    
.Section-wrapper {
    height: 70vh;
}

    .Section-container{
        grid-template-columns: 1fr;
        height: 50vh;
        margin: auto;
    }
    .Section-text{
        margin: auto;
        padding: 0;
     
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;
    }
}